<!DOCTYPE html>
<html>
<head>
</head>

<body>
<h1>Hello Web Component Wrapper!</h1>
<div wix-include-html="https://oron-web-component.herokuapp.com/html/template.html"></div>
<my-paragraph></my-paragraph>
<script>
    const attributeName = "wix-include-html";
    async function includeHTML() {
        let xhttp;
        const elements = Array.from(document.getElementsByTagName("*")).filter(element => element.hasAttribute(attributeName));
        for await (const element of elements) {
            if(element.hasAttribute(attributeName)) {
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if (this.status == 200) {element.innerHTML = this.responseText;}
                        if (this.status == 404) {element.innerHTML = "Page not found.";}
                        element.removeAttribute("wix-include-html");
                        includeHTML();
                    }
                }
                xhttp.open("GET", element.getAttribute(attributeName), true);
                await xhttp.send();
            }
        }
    }

    function defineCustomElement() {
        customElements.define('my-paragraph',
            class extends HTMLElement {
                constructor() {
                    super();
                    let template = document.getElementById('my-paragraph');
                    let templateContent = template.content;

                    const shadowRoot = this.attachShadow({mode: 'open'})
                        .appendChild(templateContent.cloneNode(true));
                }
            }
        );
    }
    async function load () {
        await includeHTML();
        defineCustomElement();
    }
    load()
    </script>
</body>
</html>
