<!DOCTYPE html>
<html>
<head>
</head>

<body>
<h1>Hello Web Component Wrapper!</h1>
<!--<div wix-include-html="https://oron-web-component.herokuapp.com/html/template.html"></div>-->
<my-paragraph></my-paragraph>
<script>
    const attributeName = "wix-include-html";
    // async function includeHTML() {
    //     const elements = Array.from(document.getElementsByTagName("*")).filter(element => element.hasAttribute(attributeName));
    //     for await (const element of elements) {
    //         if(element.hasAttribute(attributeName)) {
    //             const result = await fetch(element.getAttribute(attributeName))
    //             if(result.ok) {
    //                 element.innerHTML = await result.text();
    //                 element.removeAttribute(attributeName)
    //             } else {
    //                 element.innerHTML = "Page not found.";
    //             }
    //         }
    //     }
    // }

    function defineCustomElement() {
        customElements.define('my-paragraph',
            class extends HTMLElement {
                constructor() {
                    super();
                   this.loadContent();
                }

                async loadContent () {
                    const result = await fetch("https://oron-web-component.herokuapp.com/html/template.html")
                    let templateContent;
                    if(result.ok) {
                        templateContent = await result.text();
                    } else {
                        templateContent = "Page not found.";
                    }

                    const element = document.createElement('div');
                    element.innerHTML = templateContent;
                    const shadowRoot = this.attachShadow({mode: 'closed'})
                        .appendChild(element.cloneNode(true));
                }

            }
        );
    }
    async function load () {
        // await includeHTML();
        defineCustomElement();
    }
    load()
    </script>
</body>
</html>
