<!DOCTYPE html>
<html>
<head>
</head>

<body>
<h1>Hello Web Component Wrapper!</h1>
<div w3-include-html="https://oron-web-component.herokuapp.com/html/template.html"></div>
<my-paragraph></my-paragraph>
<script type="text/javascript" src="https://oron-web-component.herokuapp.com/js/my-paragraph.js"></script>

</body>
</html>
