<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://oron-web-component.herokuapp.com/js/my-paragraph.js"></script>
</head>

<body>
<h1>Hello Web Component Wrapper</h1>

</body>
</html>
